[submodule "richdem"]
	path = common/richdem
	url = https://github.com/r-barnes/richdem.git
	branch = dev
[submodule "Combined/richdem"]
	path = Combined/richdem
	url = https://github.com/r-barnes/richdem
