# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom ignores
Mad*.txt
a.out
*.exe
*.dat
test
twsm
twsm.x

# Cmake default build dir
build/

# Code editor stuff
.vscode/
*.swp

# Ignore test runs unless explicitly told to add files
*.tif
*.tif.aux.xml
*.txt
*.cfg

# Profiling artifacts
perf.data*
